<div class="container col-md-6">
  <h1 style="text-align: center;font-style: italic;margin-top: 30px;color: orangered;">Book Finder</h1>
  <div class="input-group mb-3 container-col-md-3" style="margin-top: 30px;">
    <div class="input-group-prepend" *ngIf="query">
      <button class="btn btn-outline-secondary" (click)="clear()" type="button" style="border: none;background-color: white;height: 100%;"><i class="fa fa-close"></i></button>
    </div>
    <input type="text" class="form-control shadow-none" [(ngModel)]="query" placeholder="Type author, book name, subject..." style="border: none;">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary shadow-none" type="button" [disabled]="!query" (click)="search()" style="border: none;background-color: white;color: orangered;">Search</button>
    </div>
  </div>
</div>
  
<app-listofbooks #child style="margin: 10px;"></app-listofbooks>

<footer style="text-align: center;margin-top: 10px;margin-bottom: 10px;">Made by <b style="color: orangered;">Shobhit Arora</b></footer>